html {
	font-size: 2vw;
	font: var(--font-body-text);
}

.bg {
	background: linear-gradient(180deg, #adadad, #ff8e3c);
	height: 100vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}