@import './reset.css';
@import './variables.css';
@import './base.css';
@import './fonts.css';
@import './grid.css';

@import './modules/navigation.css';
@import './modules/footer.css';
@import './modules/movie-list.css';