@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

@import './reset.css';
@import './variables.css';
@import './base.css';
@import './grid.css';

@import './modules/navigation.css';
@import './modules/footer.css';
@import './modules/movie-list.css';