.footer {
	width: 100%;
	height: fit-content;
	background-color: var(--third-color);
	position: relative;
	display: flex;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.footer__text {
	font: var(--font-body-text);
	margin-left: 1rem;
}

.footer__social-media-links {
	overflow: hidden; 
	background-color: var(--second-color);
	padding: .3rem;
	border-radius: 50%;
	margin: .5rem;
}

.footer__social-media-icon {
	height: 2vh;
	width: 2vw;
	object-fit: cover;
}