.footer {
	width: 100%;
	height: fit-content;
	background-color: var(--third-color);
	position: relative;
	display: flex;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer__text {
	font: var(--font-header-text);
	margin-left: 1rem;
}

.footer__social-media-links {
	overflow: hidden; 
	background-color: var(--second-color);
	padding: .3rem;
	border-radius: 50%;
	margin: .5rem;
	width: 3%;
}

.footer__social-media-links img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.footer__social-media-links:hover {
	/* transform: scale(1.02);
	transition: all 0.2s ease-in-out;
	transition-delay: 0.1s; */
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}