.navigation {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: fit-content;
	background-color: var(--third-color);
	align-items: center;
	justify-content: space-evenly;
}

.navigation__main-title {
	font: var(--font-header-text);
	background-color: var(--fourth-color);
	font-size: 3rem;
	width: fit-content;
	font-style: italic;
	text-decoration: none;
	color: var(--first-color);
	box-shadow: 2px 2px 2px 1px rgba(237, 108, 73, 0.7);
	text-align: center;
	border-radius: .3rem;
   -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}