.navigation {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: fit-content;
	background-color: var(--third-color);
	align-items: center;
}

.navigation__main-title {
	font: var(--font-header-text);
	font-size: 3rem;
	width: fit-content;
	font-style: italic;
	text-decoration: none;
	color: var(--first-color);
	text-align: center;
	border-radius: .3rem;
   -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.genre {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

.genre__card {
	list-style-type: none;
}

.genre__button {
	border: none;
	padding: .5rem;
	border-radius: .2rem;
	margin: .3rem;
}